*{
    margin: 0;
    padding: 0;
}
body{
    width: 900px;
    margin: 0 auto;
}
ul{
    list-style: none;
}
.item1{
    background-color: green;
    color: white;
    padding: 10px;
    display: block;
    float: left;
    text-align: center;
    min-width: 100px;
}
.item2{
    background-color: green;
    color: white;
    padding: 10px;
    display: block;
    text-align: left;
    min-width: 100px;
}
#desplegable{
    display: none;
}
#products:hover{
    color: orange;
}
#products:hover>#desplegable{
    display: block;
}